*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    width: 100%;
}

td, th{
    text-align: center;
    padding: 10px;
}

.domestic, .foreign{
    margin-top: 50px;
    margin-bottom: 50px;
}

.caption{
    font-weight: 700;
}

tr:nth-child(even) {background-color: whitesmoke;}

th{
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
    border-bottom: 2px solid white;
}

.popup-button{
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.popup-button button{
    transition: all 0.3s ease 0s;
}

.popup-button button:hover{
    background-color: rgb(99, 99, 255);
}

/*-----------------------------------------*/

.portfolio{
    display: table;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

.add-pad{
    padding: 10px;
}

.add-pad-main{
    padding: 30px;
}

.order-btn{
    border: none;
    background-color: blue;
    padding: 7px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.order-box{
    border: 2px solid black;
    width: 50%;
    margin: auto;
    text-align: center;
}

#order-box-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#order-box-header h1{
    flex: 1;
}


#submit-btn{
    border: 2px solid white;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.username{
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}

#display-username{
    font-weight: bold;
    font-size: 30px;
}

.display-portfolios{
    width: 50%;
    margin: auto;
    align-items: center;
    text-align: center;
}

.port-btn{
    padding: 15px;
    margin: 10px;
    background-color: blue;
    border: 2px solid whitesmoke;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.port-btn:hover{
    background-color: rgb(150, 150, 252);
    transition: all 0.3s ease 0s;
}

.search-box-space{
    width: 50%;
    margin: auto;
    text-align: center;
}

#search-input{
    border: 2px solid whitesmoke;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#stock-lookup-table{
    margin-top: 10px;
}